/* Generals */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  text-align: center;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 50px;
  margin-bottom: 40px;
}

a,
a:visited {
  text-decoration: none;
  color: black;
}

/* Utilities */

.mitico {
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: black;
  height: 20px;
  color: white;
  transition: 0.3s;
}

.mitico:hover {
  background-color: #ddd;
  background-image: url('https://i.giphy.com/media/7lsw8RenVcjCM/giphy.webp');
  background-size: contain;
  background-repeat: no-repeat;
  color: #333;
  transition: 0.3s ease-in;
  overflow: visible;
}

.mitico::after {
  position: absolute;
  content: 'Mitico HR';
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* Main content */

/* EXAMPLE 1 */
/* Scacchiera 12x12 con quadrati fisicamente riempiti di bianco, larga quanto il container - Not responsive*/
#example-1 > .container > [class^='col-'] {
  height: calc(1170px/12);
}

#example-1 > .container:nth-child(even) > [class^='col-']:nth-child(odd),
#example-1 > .container:nth-child(odd) > [class^='col-']:nth-child(even) {
  background-color: black;
}

#example-1 > .container:nth-child(even) > [class^='col-']:nth-child(even),
#example-1 > .container:nth-child(odd) > [class^='col-']:nth-child(odd) {
  background-color: white;
}

/* EXAMPLE 2 */
/* Scacchiera 12x12 con quadrati riempiti di bianco tramite offset, larga quanto il container - Not responsive*/
#example-2 > .container > [class^='col-'] {
  height: calc(1170px/12);
  background-color: black;
}

/* EXAMPLE 3 */
/* Vertical bars */
#example-3 > .container > [class^='col-'] {
  height: calc(1170px/2);
  background-color: black;
}

#example-3 > .container > [class^='col-']:hover {
  height: calc(1170px/2);
  background-color: blue;
}

#example-3 > .container > [class^='col-']:nth-child(2) {
  opacity: calc(11/12);
}

#example-3 > .container > [class^='col-']:nth-child(3) {
  opacity: calc(10/12);
}

#example-3 > .container > [class^='col-']:nth-child(4) {
  opacity: calc(9/12);
}

#example-3 > .container > [class^='col-']:nth-child(5) {
  opacity: calc(8/12);
}

#example-3 > .container > [class^='col-']:nth-child(6) {
  opacity: calc(7/12);
}

#example-3 > .container > [class^='col-']:nth-child(7) {
  opacity: calc(6/12);
}

#example-3 > .container > [class^='col-']:nth-child(8) {
  opacity: calc(5/12);
}

#example-3 > .container > [class^='col-']:nth-child(9) {
  opacity: calc(4/12);
}

#example-3 > .container > [class^='col-']:nth-child(10) {
  opacity: calc(3/12);
}

#example-3 > .container > [class^='col-']:nth-child(11) {
  opacity: calc(2/12);
}

#example-3 > .container > [class^='col-']:nth-child(12) {
  opacity: calc(1/12);
}

#example-3 > .container > [class^='col-']:nth-child(1):hover {
  opacity: calc(1/12);
}

#example-3 > .container > [class^='col-']:nth-child(2):hover {
  opacity: calc(2/12);
}

#example-3 > .container > [class^='col-']:nth-child(3):hover {
  opacity: calc(3/12);
}

#example-3 > .container > [class^='col-']:nth-child(4):hover {
  opacity: calc(4/12);
}

#example-3 > .container > [class^='col-']:nth-child(5):hover {
  opacity: calc(5/12);
}

#example-3 > .container > [class^='col-']:nth-child(6):hover {
  opacity: calc(6/12);
}

#example-3 > .container > [class^='col-']:nth-child(7):hover {
  opacity: calc(7/12);
}

#example-3 > .container > [class^='col-']:nth-child(8):hover {
  opacity: calc(8/12);
}

#example-3 > .container > [class^='col-']:nth-child(9):hover {
  opacity: calc(9/12);
}

#example-3 > .container > [class^='col-']:nth-child(10):hover {
  opacity: calc(10/12);
}

#example-3 > .container > [class^='col-']:nth-child(11):hover {
  opacity: calc(11/12);
}

#example-3 > .container > [class^='col-']:nth-child(12):hover {
  opacity: calc(12/12);
}

/* EXAMPLE 4 */
/* Tic Tac Tok */
#example-4 > .container > [class^='col-'] {
  height: calc(1170px/6);
  border-bottom: 10px solid black;
  border-right: 10px solid black;
}

#example-4 > .container > [class^='col-'] a {
  display: inline-block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#example-4 > .container > [class^='col-'] a:active {
  background-image: url('../img/tiktok.png');
  background-position: center;
  background-size: contain;
}

#example-4 > .container:nth-of-type(3) > [class^='col-'] {
  border-bottom: none;
}

#example-4 > .container > [class^='col-']:nth-child(3) {
  border-right: none;
}

/* EXAMPLE 5 */
/* Nyan TV */
#example-5 > .container > [class^='col-'] {
  position: relative;
  padding: 20px;
  height: calc(1170px/3);
}

#example-5 > .container > .col-6::before,
#example-5 > .container > .col-6::after {
  position: absolute;
  content: '';
  background-position: center;
  background-size: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#example-5 > .container > .col-6::before {
  width: 80%;
  height: 80%;
  background-image: url('../img/nyan-bw.gif');
}

#example-5 > .container > .col-6::after {
  width: 100%;
  height: 100%;
  background-image: url('../img/tv.png');
}

/* EXAMPLE 5 */
/* Scacchiera 8x8 che occupa l'intero width realizzata mediante nesting delle colonne, sprite per gli scacchi, puro css per il posizionamento */
#example-6 .container > [class^='col-'] > .container > [class^='col-'] {
  position: relative;
  height: calc(1170px/8);
  background-color: #555;
}

#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(1) > .container:nth-of-type(1) > [class^='col-']:nth-of-type(1)::before,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(1) > .container:nth-of-type(1) > [class^='col-']:nth-of-type(1)::after,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(1) > .container:nth-of-type(1) > [class^='col-']:nth-of-type(2)::before,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(1) > .container:nth-of-type(1) > [class^='col-']:nth-of-type(2)::after,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(1) > .container:nth-of-type(2) > [class^='col-']:nth-of-type(1)::before,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(1) > .container:nth-of-type(2) > [class^='col-']:nth-of-type(1)::after,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(1) > .container:nth-of-type(2) > [class^='col-']:nth-of-type(2)::before,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(1) > .container:nth-of-type(2) > [class^='col-']:nth-of-type(2)::after,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(1) > .container:nth-of-type(7) > [class^='col-']:nth-of-type(1)::before,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(1) > .container:nth-of-type(7) > [class^='col-']:nth-of-type(1)::after,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(1) > .container:nth-of-type(7) > [class^='col-']:nth-of-type(2)::before,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(1) > .container:nth-of-type(7) > [class^='col-']:nth-of-type(2)::after,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(1) > .container:nth-of-type(8) > [class^='col-']:nth-of-type(1)::before,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(1) > .container:nth-of-type(8) > [class^='col-']:nth-of-type(1)::after,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(1) > .container:nth-of-type(8) > [class^='col-']:nth-of-type(2)::before,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(1) > .container:nth-of-type(8) > [class^='col-']:nth-of-type(2)::after,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(2) > .container:nth-of-type(1) > [class^='col-']:nth-of-type(1)::before,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(2) > .container:nth-of-type(1) > [class^='col-']:nth-of-type(1)::after,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(2) > .container:nth-of-type(1) > [class^='col-']:nth-of-type(2)::before,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(2) > .container:nth-of-type(1) > [class^='col-']:nth-of-type(2)::after,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(2) > .container:nth-of-type(2) > [class^='col-']:nth-of-type(1)::before,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(2) > .container:nth-of-type(2) > [class^='col-']:nth-of-type(1)::after,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(2) > .container:nth-of-type(2) > [class^='col-']:nth-of-type(2)::before,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(2) > .container:nth-of-type(2) > [class^='col-']:nth-of-type(2)::after,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(2) > .container:nth-of-type(7) > [class^='col-']:nth-of-type(1)::before,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(2) > .container:nth-of-type(7) > [class^='col-']:nth-of-type(1)::after,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(2) > .container:nth-of-type(7) > [class^='col-']:nth-of-type(2)::before,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(2) > .container:nth-of-type(7) > [class^='col-']:nth-of-type(2)::after,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(2) > .container:nth-of-type(8) > [class^='col-']:nth-of-type(1)::before,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(2) > .container:nth-of-type(8) > [class^='col-']:nth-of-type(1)::after,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(2) > .container:nth-of-type(8) > [class^='col-']:nth-of-type(2)::before,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(2) > .container:nth-of-type(8) > [class^='col-']:nth-of-type(2)::after {
  position: absolute;
  content: '';
  width: calc(1170px/8);
  height: calc(1170px/8);
  top: 50%;
  background: url('../img/chess-pieces.svg');
  background-size: auto 300px;
  background-repeat: no-repeat;
}

#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(1) > .container:nth-of-type(1) > [class^='col-']:nth-of-type(1)::before,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(1) > .container:nth-of-type(1) > [class^='col-']:nth-of-type(2)::before,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(1) > .container:nth-of-type(7) > [class^='col-']:nth-of-type(1)::after,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(1) > .container:nth-of-type(7) > [class^='col-']:nth-of-type(2)::after,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(2) > .container:nth-of-type(1) > [class^='col-']:nth-of-type(1)::before,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(2) > .container:nth-of-type(1) > [class^='col-']:nth-of-type(2)::before,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(2) > .container:nth-of-type(7) > [class^='col-']:nth-of-type(1)::before,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(2) > .container:nth-of-type(7) > [class^='col-']:nth-of-type(2)::before {
  right: 50%;
  transform: translate(-50%,-50%);
}

#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(1) > .container:nth-of-type(1) > [class^='col-']:nth-of-type(1)::after,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(1) > .container:nth-of-type(1) > [class^='col-']:nth-of-type(2)::after,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(1) > .container:nth-of-type(2) > [class^='col-']:nth-of-type(1)::before,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(1) > .container:nth-of-type(2) > [class^='col-']:nth-of-type(2)::before,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(1) > .container:nth-of-type(7) > [class^='col-']:nth-of-type(1)::before,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(1) > .container:nth-of-type(7) > [class^='col-']:nth-of-type(2)::before,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(1) > .container:nth-of-type(8) > [class^='col-']:nth-of-type(1)::before,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(1) > .container:nth-of-type(8) > [class^='col-']:nth-of-type(2)::before,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(2) > .container:nth-of-type(1) > [class^='col-']:nth-of-type(1)::after,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(2) > .container:nth-of-type(1) > [class^='col-']:nth-of-type(2)::after,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(2) > .container:nth-of-type(2) > [class^='col-']:nth-of-type(1)::before,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(2) > .container:nth-of-type(2) > [class^='col-']:nth-of-type(2)::before,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(2) > .container:nth-of-type(7) > [class^='col-']:nth-of-type(1)::after,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(2) > .container:nth-of-type(7) > [class^='col-']:nth-of-type(2)::after,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(2) > .container:nth-of-type(8) > [class^='col-']:nth-of-type(1)::before,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(2) > .container:nth-of-type(8) > [class^='col-']:nth-of-type(2)::before {
  left: 50%;
  transform: translate(-50%,-50%);
}

#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(1) > .container:nth-of-type(8) > [class^='col-']:nth-of-type(1)::after,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(1) > .container:nth-of-type(8) > [class^='col-']:nth-of-type(2)::after,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(2) > .container:nth-of-type(8) > [class^='col-']:nth-of-type(1)::after,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(2) > .container:nth-of-type(8) > [class^='col-']:nth-of-type(2)::after,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(1) > .container:nth-of-type(2) > [class^='col-']:nth-of-type(1)::after,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(1) > .container:nth-of-type(2) > [class^='col-']:nth-of-type(2)::after,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(2) > .container:nth-of-type(2) > [class^='col-']:nth-of-type(1)::after,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(2) > .container:nth-of-type(2) > [class^='col-']:nth-of-type(2)::after {
  left: 50%;
  transform: translate(50%,-50%);
}

#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(1) > .container:nth-of-type(2) > [class^='col-']:nth-of-type(1)::before,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(1) > .container:nth-of-type(2) > [class^='col-']:nth-of-type(1)::after,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(1) > .container:nth-of-type(2) > [class^='col-']:nth-of-type(2)::before,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(1) > .container:nth-of-type(2) > [class^='col-']:nth-of-type(2)::after,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(2) > .container:nth-of-type(2) > [class^='col-']:nth-of-type(1)::before,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(2) > .container:nth-of-type(2) > [class^='col-']:nth-of-type(1)::after,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(2) > .container:nth-of-type(2) > [class^='col-']:nth-of-type(2)::before,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(2) > .container:nth-of-type(2) > [class^='col-']:nth-of-type(2)::after {
  background-position: -750px -150px;
}

#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(1) > .container:nth-of-type(7) > [class^='col-']:nth-of-type(1)::before,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(1) > .container:nth-of-type(7) > [class^='col-']:nth-of-type(1)::after,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(1) > .container:nth-of-type(7) > [class^='col-']:nth-of-type(2)::before,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(1) > .container:nth-of-type(7) > [class^='col-']:nth-of-type(2)::after,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(2) > .container:nth-of-type(7) > [class^='col-']:nth-of-type(1)::before,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(2) > .container:nth-of-type(7) > [class^='col-']:nth-of-type(1)::after,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(2) > .container:nth-of-type(7) > [class^='col-']:nth-of-type(2)::before,
#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(2) > .container:nth-of-type(7) > [class^='col-']:nth-of-type(2)::after {
  background-position: -750px 0px;
}

#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(1) > .container:nth-of-type(1) > [class^='col-']:nth-of-type(1)::before {
  background-position: -600px -150px;
}

#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(1) > .container:nth-of-type(1) > [class^='col-']:nth-of-type(1)::after {
  background-position: -450px -150px;
}

#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(1) > .container:nth-of-type(1) > [class^='col-']:nth-of-type(2)::before {
  background-position: -300px -150px;
}

#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(1) > .container:nth-of-type(1) > [class^='col-']:nth-of-type(2)::after {
  background-position: -150px -150px;
}

#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(1) > .container:nth-of-type(8) > [class^='col-']:nth-of-type(1)::before {
  background-position: -600px 0px;
}

#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(1) > .container:nth-of-type(8) > [class^='col-']:nth-of-type(1)::after{
  background-position: -450px 0px;
}

#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(1) > .container:nth-of-type(8) > [class^='col-']:nth-of-type(2)::before {
  background-position: -300px 0px;
}

#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(1) > .container:nth-of-type(8) > [class^='col-']:nth-of-type(2)::after {
  background-position: -150px 0px;
}

#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(2) > .container:nth-of-type(1) > [class^='col-']:nth-of-type(1)::before {
  background-position: 0px -150px;
}

#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(2) > .container:nth-of-type(1) > [class^='col-']:nth-of-type(1)::after {
  background-position: -300px -150px;
}

#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(2) > .container:nth-of-type(1) > [class^='col-']:nth-of-type(2)::before {
  background-position: -450px -150px;
}

#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(2) > .container:nth-of-type(1) > [class^='col-']:nth-of-type(2)::after {
  background-position: -600px -150px;
}

#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(2) > .container:nth-of-type(8) > [class^='col-']:nth-of-type(1)::before {
  background-position: 0px 0px;
}

#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(2) > .container:nth-of-type(8) > [class^='col-']:nth-of-type(1)::after {
  background-position: -300px 0px;
}

#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(2) > .container:nth-of-type(8) > [class^='col-']:nth-of-type(2)::before {
  background-position: -450px 0px;
}

#example-6 .container:nth-of-type(1) > [class^='col-']:nth-of-type(2) > .container:nth-of-type(8) > [class^='col-']:nth-of-type(2)::after {
  background-position: -600px 0px;
}

/* Footer */

footer {
  padding-bottom: 40px;
}
