/* Generals */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  text-align: center;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 50px;
  margin-bottom: 40px;
}

a,
a:visited {
  text-decoration: none;
  color: black;
}

/* Utilities */

.mitico {
  margin-top: 100px;
  margin-bottom: 100px;
}

/* Main content */

/* EXAMPLE 1 */
/* Scacchiera 12x12 con quadrati fisicamente riempiti di bianco, larga quanto il container - Not responsive*/
#example-1 > .container > [class^='col-'] {
  height: calc(1170px/12);
}

#example-1 > .container:nth-child(even) > [class^='col-']:nth-child(odd),
#example-1 > .container:nth-child(odd) > [class^='col-']:nth-child(even) {
  background-color: black;
}

#example-1 > .container:nth-child(even) > [class^='col-']:nth-child(even),
#example-1 > .container:nth-child(odd) > [class^='col-']:nth-child(odd) {
  background-color: white;
}

/* EXAMPLE 2 */
/* Scacchiera 12x12 con quadrati riempiti di bianco tramite offset, larga quanto il container - Not responsive*/
#example-2 > .container > [class^='col-'] {
  height: calc(1170px/12);
  background-color: black;
}

/* EXAMPLE 3 */
/* Vertical bars */
#example-3 > .container > [class^='col-'] {
  height: calc(1170px/2);
  background-color: rgba(0,0,0,1);
}

#example-3 > .container > [class^='col-']:nth-child(2) {
  opacity: calc(11/12);
}

#example-3 > .container > [class^='col-']:nth-child(3) {
  opacity: calc(10/12);
}

#example-3 > .container > [class^='col-']:nth-child(4) {
  opacity: calc(9/12);
}

#example-3 > .container > [class^='col-']:nth-child(5) {
  opacity: calc(8/12);
}

#example-3 > .container > [class^='col-']:nth-child(6) {
  opacity: calc(7/12);
}

#example-3 > .container > [class^='col-']:nth-child(7) {
  opacity: calc(6/12);
}

#example-3 > .container > [class^='col-']:nth-child(8) {
  opacity: calc(5/12);
}

#example-3 > .container > [class^='col-']:nth-child(9) {
  opacity: calc(4/12);
}

#example-3 > .container > [class^='col-']:nth-child(10) {
  opacity: calc(3/12);
}

#example-3 > .container > [class^='col-']:nth-child(11) {
  opacity: calc(2/12);
}

#example-3 > .container > [class^='col-']:nth-child(12) {
  opacity: calc(1/12);
}

/* EXAMPLE 4 */
/* Tic Tac Toe */
#example-4 > .container > [class^='col-'] {
  height: calc(1170px/6);
  border-bottom: 10px solid black;
  border-right: 10px solid black;
}

#example-4 > .container > [class^='col-'] a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

#example-4 > .container > [class^='col-'] a:active {
  background-image: url('../img/tiktok.png');
  background-position: center;
  background-size: contain;
}

#example-4 > .container:nth-of-type(3) > [class^='col-'] {
  border-bottom: none;
}

#example-4 > .container > [class^='col-']:nth-child(3) {
  border-right: none;
}
